{% extends "skeleton_body.html" %}
{% load staticfiles %}
{% block mod %}dashboard{% endblock %}
{% block modtitle %}Dashboard{% endblock %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}" />
{% endblock %}
{% block page %}
<div class="pane pane1">
    <div class="title">
        <span>Open Tests</span>
    </div>
    <table>
    <tr>
    <th class="name">Name</th>
    <th>Class</th>
    <th>Teacher</th>
    <th>Closes in</th>
    </tr>
    {% for test in before %}
        <tr>
            <td><a href="/quest/take/{{ test.id }}">Example Test</a></td>
            <td>Yi</td>
            <td>{{ test.enddate }}</td>
        </tr>
    {% endfor %}
    </table>
</div>
<div class="pane pane2">
    <div class="title">
        <span>Closed Tests</span>
    </div>

</div>
{% endblock %}
