{% extends "skeleton.html" %}
{% load staticfiles %}
{% block pagecss %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}
</head>
<body>

{% block left %}
<div class="center">
    <div class="logo">
        <h1>WTAssess</h1>
    </div>

    <div class="login">
    <h2>Enter your login credentials.</h2>

    <form action="/login/" method="post">
    {% csrf_token %}
            
                <label>{{ form.username.label_tag }}</label><br />
                {{ form.username }}

                <label>{{ form.password.label_tag }}</label><br />
                {{ form.password }}
            
            <input type="submit" value="Login" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>
</div>
{% endblock %}