{% extends "skeleton.html" %}
{% block content %}
<div class="page {% block mod %}{% endblock %}">
    <div class="title">
        <span>{% block modtitle %}{% endblock %}</span>
    </div>
    {% block page %}
    {% endblock %}
</div>
{% endblock %}
{% block left %}
<div class="logo">
    <h1>WTAssess</h1>
</div>

<ul class="nav">
{% block nav %}
    <li name="dashboard">
        <span>Dashboard</span>
    </li>
    <li name="logout">
        <span>Logout</span>
    </li>
{% endblock %}
</ul>

<div class="bot">
{% block bot %}
    <span class="copy" style="width: 100px">WTAssess v0.1</span>
{% endblock %}
</div>
{% endblock %}