{% extends "skeleton_body.html" %}
{% load staticfiles %}
{% block mod %}quest-take{% endblock %}
{% block modtitle %}TESTTAKING{% endblock %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/quest.css' %}" />
{% endblock %}
{% block js %}
    {{ block.super }}
    <script type="text/javascript">
htmlfix = function(h) {
    return $("<div/>").html(h).text();
}
quest = {
    TESTID: {{ testid }},
    numqs: {{ questions.count }},   
    questions: [
        /*{
            "id": 1,
            "type": "mc",
            "html": "What is the answer to this question?",
            "choices": [
                {"id": 1, "html": "correct"},
                {"id": 2, "html": "2"},
                {"id": 3, "html": "3"},
                {"id": 4, "html": "4"}
            ]
        }*/
        {% for question in questions %}
            {
                "id": {{ question.id }},
                "type": "{{ question.type }}",
                "html": htmlfix("{{ question.header }}"),
                "choices": [
                {% for choice in question.choices.all %}
                    {
                        "id": {{ choice.id }},
                        "html": htmlfix("{{ choice.text }}")
                    }{% if not forloop.last %},{% endif %}
                {% endfor %}
                ]
            }{% if not forloop.last %},{% endif %}
        {% endfor %}

    ]
};
</script>
<script type="text/javascript" src="{% static 'js/take.js' %}"></script>
<script type="text/javascript">
$(function() {
    quest.init();
});
    </script>
{% endblock %}
{% block page %}
<div class="tt">
    <div class="qnav">
        <button class="gop" onclick="quest.goback()">Previous</button>
        <span class="goc">
            <input class="qnum" name="qnum" value="1" size="1" onchange="q.jump(this.value)" /> of <span class='qnum-total'></span>
        </span>
        <button class="gon" onclick="quest.gonext()">Next</button>
    </div><br />
    <div class="qcontents">
    <form name="qform">
        <div class="qhtml">
            <span class="cq-html"></span>
        </div>
        <div class="qoptions">
            <span class="cq-choices"></span>
        </div>
        <div class="review">
            <span style="font-size: 20px">You've answered..</span>
            <table>
            </table>
            <br /><br />
            <span style="font-size: 15px">Ready to submit? Click "Submit Test" above.</span>
        </div>
    </div>
</div>

{% endblock %}