{% extends "skeleton_body.html" %}
{% load staticfiles %}
{% block mod %}quest-take{% endblock %}
{% block modtitle %}TESTTAKING{% endblock %}
{% block css %}
    {{ block.super }}
    <style type="text/css">
.page.quest-take .tt {
    margin-top: 50px;
    height: auto;
}

.qnav {
    width: 80%;
    margin-left: 10%;
}

.qnav .gop {
    float: left;
}

.qnav .goc {
    position: absolute;
    left: 50%;
    width: 150px;
    margin-left: -75px;
    text-align: center;
    font-size: 16px;
}

.qnav .gon {
    float: right;
}

.qnav .qnum {
    background: transparent;
    width: 15px;

}

.qcontents {
    margin-top: 50px;
}

.qcontents .qhtml {
    margin-left: 45px;
    font-size: 20px;
    font-weight: 100;
}

.qoptions {
    margin-top: 20px;
    margin-left: 65px;    
}

.qc-opt {
    font-size: 16px;
    padding-bottom: 10px;
}
.cq-choices .qchoice {
    display: block;
    float: left;
    margin-right: 10px;
    height: 25px;
}

.qcontents .review {
    display: none;
    margin-left: 65px;
}

.qcontents .review table td {
    padding: 10px;
}

    </style>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script type="text/javascript">
quest = {
    TESTID: 1,
    numqs: 2,
    questions: [
        {
            "id": 1,
            "type": "mc",
            "html": "What is the answer to this question?",
            "choices": [
                {"id": 1, "html": "correct"},
                {"id": 2, "html": "2"},
                {"id": 3, "html": "3"},
                {"id": 4, "html": "4"}
            ]
        },
        {
            "id": 2,
            "type": "mc",
            "html": "Second is the answer to this question?",
            "choices": [
                {"id": 1, "html": "1"},
                {"id": 2, "html": "correct"},
                {"id": 3, "html": "3"},
                {"id": 4, "html": "4"}
            ]
        }
    ],
    map: {
    // qid: aid
    },
    curqid: 0,
    curqnum: 0,
    status: "",
    goback: function() {
        if(this.curqnum < 1) return;
        this.nexttext();
        this.curqnum--;
        this.display(this.questions[this.curqnum-1].id);
    },
    getqid: function(qid) {
        return this.questions.filter(function(t){return t.id == qid;})[0];
    },
    getaid: function(q, aid) {
        return q.choices.filter(function(t){return t.id == aid;})[0];
    },
    gonext: function() { console.log('n '+this.curqnum);
        if(this.status == "review") return this.submittest();
        if(this.curqnum >= this.numqs) return this.review();
        this.nexttext();
        this.curqnum++;
        this.display(this.questions[this.curqnum-1].id);
    },
    submittest: function() {
        this.clearls();
        $.post('/quest/submit/', data = {
            'testid': this.TESTID,
            'map': JSON.stringify(this.map),
            'questions': JSON.stringify(this.questions)
        }, function(d) {
            location.href = '/dashboard/?complete='+this.TESTID
        });
        console.log('Sending',data);
    },
    nexttext: function() {
        if(this.curqnum == this.numqs - 1) $("button.gon").html("Review Test");
        else $("button.gon").html("Next");
    },
    display: function(qid) {
        this.curqid = qid;
        var q = this.getqid(qid);
        $(".cq-html").html(q.html);
        $(".cq-curqnum").html(this.curqnum);
        $("input.qnum").attr("value", this.curqnum);
        console.log(q);
        $(".cq-choices").html("");
        var opt = 0;
        for(var i=0 in j=q.choices) {
            console.log(j[i]);
            $(".cq-choices").append(
                "<div class='qc-opt opt"+(++opt)+"'>" +
                "<input name='qchoice' class='qchoice' type='radio' value="+opt+" />" +
                "<span class='qc-opttext'>"+j[i].html+"</span>" +
                "</div>"
            );
            this.mapevents();
            if(typeof this.map[qid] != 'undefined') $('input.qchoice[value='+this.map[qid]+']').attr('checked',true);
        }

    },
    jump: function(qid) {
        var n = 0;
        for(var i in j=this.questions) {
            if(this.questions[n] == j[i]) break;
            n++;
        }
        this.curqnum = n;
        this.display(qid);
    },
    review: function() {
        this.status = "review";
        $("button.gon").html("Submit Test");
        $("button.gob").html("Back to Test");
        $(".qcontents .review").show();
        $(".qcontents .qhtml, .qcontents .qoptions").hide();
        for(var i in j=this.map) {
            var q = this.getqid(i);
            console.log(q);
            var a = this.getaid(q, parseInt(j[i]));
            console.log(a);
            $(".review table").append("<tr data-id='"+i+"'><td>#"+i+"</td><td>"+q.html.replace(/<(.|\n)*?>/, '')+"</td><td>You said <span title=\""+j[i]+"\">"+a.html.replace(/<(.|\n)*?>/, '')+"</span></td></tr>");
        }
        $(".review table > tr").click(function() {
            this.jump($(this).attr('data-id'));
        })
    },
    unreview: function() {
        this.status = "";
        $("button.gon").html("Next");
        $("button.gob").html("Previous");
        $(".qform .review").hide();
        $(".qform .qhtml, .qform .qoptions").show();
        
    },
    init: function() {
        this.loadls();
        $(".qnum-total").html(this.numqs);
        this.gonext();
    },
    loadls: function() {
        try {
            if(typeof localStorage[this.TESTID+'map'] != 'undefined') this.map = JSON.parse(localStorage[this.TESTID+'map']);
        } catch(e) { console.error('An error occurred reading from localStorage', e); }
    },
    clearls: function() {
        localStorage[this.TESTID+'map'] = null;
        localStorage.removeItem(this.TESTID+'map');
    },
    save: function(n) {
        this.map[this.curqid] = n;
        localStorage[this.TESTID+'map'] = JSON.stringify(this.map);
        console.log('map:',this.map);
    },
    mapevents: function() {
        $("input.qchoice").change(function() { quest.save($(this).val()); })
    }

};
$(function() {
    quest.init();
});
$(function() {
    
});
    </script>
{% endblock %}
{% block page %}
<div class="tt">
    <div class="qnav">
        <button class="gop" onclick="quest.goback()">Previous</button>
        <span class="goc">
            <input class="qnum" name="qnum" value="1" size="1" onchange="q.jump(this.value)" /> of <span class='qnum-total'></span>
        </span>
        <button class="gon" onclick="quest.gonext()">Next</button>
    </div><br />
    <div class="qcontents">
    <form name="qform">
        <div class="qhtml">
            <span class="cq-html"></span>
        </div>
        <div class="qoptions">
            <span class="cq-choices"></span>
        </div>
        <div class="review">
            <span style="font-size: 20px">You've answered..</span>
            <table>
            </table>
            <br /><br />
            <span style="font-size: 15px">Ready to submit? Click "Submit Test" above.</span>
        </div>
    </div>
</div>

{% endblock %}