{% extends "skeleton_teacher.html" %}
{% load staticfiles %}
{% block mod %}dashboard{% endblock %}
{% block modtitle %}mytests{% endblock %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}" />
{% endblock %}
{% block page %}
<div class="pane pane1">
    <div class="title">
        <span>My Tests</span>
    </div>
    <table>
    <tr>
    <th class="name">Name</th>
    <th>Teacher</th>
    <th>Close Time</th>
    </tr>
    {% for test,open,score in tests %}
        <tr>
            {% ifnotequal open "-1" %}
                <td><a href="/quest/take/{{ test.id }}">{{ test.name }}</a></td>
            {% else %}
                <td>{{ test.name }}</td>
            {% endifnotequal %}
                <td>{{ test.creator.user.first_name }} {{ test.creator.user.last_name }}</td>
                <td>{{ test.enddate }}</td>
            {% ifnotequal score "-1" %}
                <td>Yes</td>
                <td>{{ score }}</id>
            {% else %}
                <td>No</td>
                <td></td>
            {% endifnotequal %}

        </tr>
    {% endfor %}
    </table>

</div>
{% endblock %}
